.more {
    color: #fff;
    opacity: 0.6;
    :hover {
        color: #fff;
        opacity: 1;
        font-weight: bold;
    }
}

.content-card {
    display: flex;
    position: relative;
    /* filter: brightness(75%); */
    transition: 0.8s;
    object-fit: contain;

    :hover {
        filter: brightness(130%);
        transform: scale(1.1);
        transition: 0.8s;
    }

    span {
        width: 30px;
        background-color: rgba(15, 6, 54, 0.997);
        position: absolute;
        text-align: center;
        right: 10%;
        top: 0;
        z-index: 1;
        font-size: 16px;
    }

    img {
        height: 100%;
        width: 80%;
        margin-left: 10%;
        filter: brightness(70%);
        border-radius: 1.5%;
    }

    .content-title {
        color: white;
        background-color: rgba(5, 2, 18, 0.423);
        text-align: center;
        width: 80%;
        margin-bottom: 13px;
        position: absolute;
        left: 10%;
        bottom: 0;
        font-weight: 700;
        line-height: 100%;
        word-wrap: break-word;
    }
}
