body {
  font-family: "Courier New", Courier, monospace;
  background-color: #180b3b !important;
  background-image: url("/src/assets/image/bgImage.png");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  overflow-x: hidden !important;
  position: relative;
  scroll-behavior: smooth;
}